<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>News App</title>
</head>
<body class='body1'>
    <header>
        <h1 class='mx-1'>Welcome to our News Channel</h1>
    </header>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="user">What type of news do you want to see?</label>
        <select name="user" id="user">
            <option value="1">Top Headlines</option>
            <option value="2">US News</option>
            <option value="3">Business</option>
            <option value="4">Sports</option>
            <option value="5">Health</option>
            <option value="6">Entertainment</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
